
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCarLabel">Create or edit a Car</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.car.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_model">Model</label>
            <input type="text" class="form-control" name="model" id="field_model"
                    ng-model="vm.car.model"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_company">Company</label>
            <input type="text" class="form-control" name="company" id="field_company"
                    ng-model="vm.car.company"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateOfProduction">DateOfProduction</label>
                <div class="input-group">
                    <input id="field_dateOfProduction" type="text" class="form-control" name="dateOfProduction" uib-datepicker-popup="{{dateformat}}" ng-model="vm.car.dateOfProduction" is-open="vm.datePickerOpenStatus.dateOfProduction"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfProduction')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_owner">owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.car.owner" ng-options="owner as owner.id for owner in vm.owners track by owner.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
